body {
    text-align: center;
    background-color: #333333;
    font-family: 'Lato', sans-serif;
}

hr {
    background-color: #fff;
    height: 2px;
}

to-p {
    font-family: 'Kodchasan', sans-serif;
    text-shadow: 5px 5px 15px #E5CF00;
}

.hd1 {
    line-height: 10px;
    font-size: 128px;
}

.hd2 {
    letter-spacing: 5px;
    font-size: 200px;
    line-height: 10px;
}


.yellow {
    color: #FFE600;
}

.navbar {
    background-color: #595959;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover {
    background: #dddddd;
    color: black;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 0px 0px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: absolute;
    display: block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #0000EE;
}

.Animated {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 48px;
    text-shadow: 5px 5px 10px #000000;
}

.Movie {
    height: 500px;
}

.Shadow {
        width: auto;
        box-shadow: 5px 5px 5px;
}

.Pwrbll {
    width: 50%;
    height: auto;
}

p {
    color: white;
}

.Ball {
    font-family: 'Mali', cursive;
    font-size: 48px;
    text-shadow: 5px 5px 10px #000000;
}

.Dow {
    font-family: 'Abril Fatface', cursive;
    font-size: 48px;
    text-shadow: 5px 5px 10px #000000;
}
